
<section class="post-container">
<section class='row post-row'>	


	<% if post.picture1.present? %>
		<div class='grid-box col-md-5 col-sm-3'>
			<div class='img-thumbnail'>
				<%= image_tag post.picture1.url(:medium), class: 'first_upload img-responsive' %>
			<h3><%=post.caption1 %> </h3>
			<%= link_to post.tags.first.text, post.tags.first %>
			</div>
		</div>
	<% end %>

	<div class='col-md-2'>
		<div class="voting-box">
			<div class='doppelYES'>				
				<span class = 'doppel-count yes-count'><%= post.count_upvotes %></span>
		   		<%= link_to post_votes_path(post, direction: 'up'), class: 'doppel-link doppelYES-link' do %>
					<span class="glyphicon glyphicon-thumbs-up">
				<% end %>
			</div>

			<div class='doppelNO'>
				<span class = 'doppel-count no-count'><%= post.count_downvotes %></span>
				<%= link_to post_votes_path(post, direction: 'down'), class: 'doppel-link doppelNO-link' do %>
					<span class="glyphicon glyphicon-thumbs-down">
				<% end %>
				
			</div>
		</div>

		<div class ='hire-button'>
			<p>Price: £<%=post.hire_charge%></p>
			<%= link_to "Hire Doppelgrammer", new_post_charge_path(post) %>
		</div>
	</div>

	<% if post.picture2.present? %>
		<div class='grid-box col-md-5 col-sm-3'>
			<div class='img-thumbnail'>
				<%= image_tag post.picture2.url(:medium), class: 'second_upload img-responsive' %>
			<h3><%=post.caption2 %> </h3>
			<%= link_to post.tags.last.text, post.tags.last %>
			</div>
		</div>
	<% end %>



</section>
</section>