
<li>
<!-- 	<% post.tags.each do |tag| %>
		<%=link_to tag.text, tag %>
	<% end %> -->

	<% if post.picture1.present? %>
		<div id="first_image">
		<%= image_tag post.picture1.url(:medium), class: 'first_upload' %>
		<h3><%=post.caption1 %> </h3>
		<%= link_to post.tags.first.text, post.tags.first %>
		</div>
	<% end %>

	<% if post.picture2.present? %>
		<div id="first_image">
		<%= image_tag post.picture2.url(:medium), class: 'second_upload' %>
		<h3><%=post.caption2 %> </h3>
		<%= link_to post.tags.last.text, post.tags.last %>
		</div>
	<% end %>
</li>
