<% if @post.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <h3>Ooops - there were some errors with your post:</h3>
 
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @post do |f| %>

	<div class="form-group">
		<h3><%= f.label :picture1, 'First doppelgrammer'  %></h3>
		<%= f.file_field :picture1, html: { multipart: true }, required: true, class: 'file-upload-field' %>
	</div>

	<div class="form-group">
		<%= f.text_field :caption1, placeholder: "Name", required: true, class: "form-control" %>
	</div>

	<div class="form-group">
		<h3><%= f.label :picture2, 'Second doppelgrammer' %></h3>
		<%= f.file_field :picture2, html: { multipart: true }, required: true, class: 'file-upload-field' %>
	</div>

	<div class="form-group">
		<%= f.text_field :caption2, placeholder: "Name", required: true, class: "form-control" %>
	</div>

	<div class="form-group">
		<h3><%= f.label :hire_charge, 'Hire Charge', id: 'hire-charge-label'  %></h3>
		<span>£  </span><span><%= f.number_field :hire_charge, :value => '50', class: "hire-charge-input"%></span>
	</div>

	<div class="form-group"><%= f.submit "Submit", class: 'btn btn-default' %></div>
<% end %>
