<h1>Upload your doppelgrammers</h1>

<%= form_for @post do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :picture1, 'First doppelgrammer'  %>
	<%= f.file_field :picture1, html: { multipart: true } %>

	<%= f.text_field :caption1, placeholder: "Name" %>

	<%= f.label :picture2, 'Second doppelgrammer' %>
	<%= f.file_field :picture2, html: { multipart: true } %>

	<%= f.submit %>
<% end %>