<h1>Upload your doppelgrammers</h1>

<%= form_for @post do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :picture1 %>
	<%= f.file_field :picture1, html: { multipart: true } %>

	<%= f.submit %>
<% end %>