<h1>Upload your doppelgrammers</h1>

<%= form_for @post do |f| %>

	<p><%= f.label :picture1, 'First doppelgrammer'  %>
	<%= f.file_field :picture1, html: { multipart: true } %>

	<p><%= f.label :caption1 %>
	<%= f.text_field :caption1, placeholder: "Name" %>

	<p><%= f.label :picture2, 'Second doppelgrammer' %>
	<%= f.file_field :picture2, html: { multipart: true } %>

	<p><%= f.label :caption2 %>
	<%= f.text_field :caption2, placeholder: "Name" %>

	<p><%= f.submit %>
<% end %>