<!DOCTYPE html>

<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Doppelgrammer</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
  	<%= csrf_meta_tags %>

  </head>
  <body>

  <div class='container header-container'>
      <div class="header doppelheader">
        <ul class="nav nav-pills pull-right">
          <li class="active"><%=link_to 'Add a Doppelgrammer', new_post_path %></li>
          <% if user_signed_in? %>
	        	<li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
	        <% else %>
	          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
	          <li><%= link_to 'Sign In', new_user_session_path %></li>
	        <% end %>
        </ul>
        <h3 class="text-muted" id="logo"><%= link_to "Doppelgrammer", root_path %></h3>
      </div>

      </div>
          <div class="container">
    

			<%= yield %>

      <div class="footer navbar-fixed-bottom">
        <p>© ChazAndDave 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body></html>

 <script type="x-tmpl-mustache" id="post-template">


<section class="post-container new-post-container">
<section class='row post-row'>  


    <div class='grid-box col-md-5 col-sm-3'>
      <div class='img-thumbnail'>
        <img src= {{picture1}} class='first_upload img-responsive'>
      <h3>{{caption1}}</h3>
      <%= link_to '{{tag1}}', '{{tag1_link}}' %>
      </div>
    </div>



  <div class='col-md-2'>
    <img class="new-post" src ="/assets/new_post.png">
    <div class="voting-box">
      <div class='doppelYES'>       
        <span class = 'doppel-count yes-count'>0</span>
          <%= link_to '{{vote_link}}?direction=up', class: 'doppel-link doppelYES-link' do %>
          <span class="glyphicon glyphicon-thumbs-up">
        <% end %>
      </div>


      <div class='doppelNO'>
        <span class = 'doppel-count no-count'>0</span>
          <%= link_to '{{vote_link}}?direction=down', class: 'doppel-link doppelNO-link' do %>
          <span class="glyphicon glyphicon-thumbs-down">
         <% end %>
      </div>
    </div>

    <div class ='hire-button'>
      <p>Price: £{{hire_charge}}</p>
      <%= link_to "Hire Doppelgrammer", '{{hire_link}}' %>
    </div>
  </div>

    <div class='grid-box col-md-5 col-sm-3'>
      <div class='img-thumbnail'>
        <img src= {{picture2}} class='first_upload img-responsive'>
      <h3>{{caption2}}</h3>
       <%= link_to '{{tag2}}', '{{tag2_link}}' %>
      </div>
    </div>

</section>
</section>

 </script>
