<!DOCTYPE html>

<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Doppelgrammer</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  </head>

  <body>


  <div class='container header-container'>
      <div class="header doppelheader">
        <ul class="nav nav-pills pull-right">
          <li class="active"><%=link_to 'Add a Doppelgrammer', new_post_path %></li>
          <% if user_signed_in? %>
	        	<li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
	        <% else %>
	          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
	          <li><%= link_to 'Sign In', new_user_session_path %></li>
	        <% end %>
        </ul>
        <h3 class="text-muted" id="logo"><%= link_to "Doppelgrammer", root_path %></h3>
      </div>

      </div>
          <div class="container">
    

			<%= yield %>

      <div class="footer navbar-fixed-bottom">
        <p>© ChazAndDave 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body></html>